* {
  text-align: center;
  font-family: helvetica;
}

body {
  background-image: url(background.jpg);
}

.buttons > button {
  display: inline-block;
  height: 10rem;
  padding: 0;
  width: 10rem;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 20%;
}

.buttons > button:hover {
  background-color: green;
}

button > img {
  height: 80%;
  width: 80%;
  margin-right: 10px;
  transform: translateX(5%);
}

div > h2 {
  display: inline-block;
}

.computer-options > div {
  rotate: 180deg;
  border-radius: 20%;
  height: 10rem;
  width: 10rem;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

div > img {
  height: 80%;
  width: 80%;
  display: inline-block;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-family: helvetica;
}

h1,
h2,
h3 {
  font-weight: bold !important;
}

#reset-button {
  height: 5rem;
  width: 10rem;
}
